.flip{
    width: 100px;
    height: 150px;
    box-shadow: #000000a6 11px 9px 18px;
    border-radius: 5px;
    margin: 2rem;
    cursor: pointer;
}
.frente{
    background-color: #fefef7;
    width: 95%;
    height: 95%;
    border-radius: 5px;
    margin: 2.5% auto;
    border: solid #857e20 2px;
    text-align: center;
    align-content: center;
    font-size: 1rem;
    color: #1308e6;
    font-family: Arial, Helvetica, sans-serif;
}   
.tapa{
    background-color: #CCC111;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.tapa:hover{
    background-color: #857e20;
}

.success-message{
    width: 90%;
    padding: 10px;
    background-color: #93ff9fa6;
    color:rgb(1, 78, 1);
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.success-message button{
    padding: 10px;
    background-color: #faee07f5;
    color:rgb(113, 103, 31);
    border-radius: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}